body {
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    height: 100px;
}

header img {
    height: 50px;
    width: 50px;
    margin: 16px;
}

main {
    display: flex;
    justify-content: space-around;
    margin: 16px;
}

section {
    background-color: #eaf2f9;
    min-height: 500px;
    min-width: 425px;
    border-radius: 32px;
    border: 0.5px solid black;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

section div {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 32px;
    border-radius: 32px 32px 0px 0px;
}

section input {
    margin: 16px 16px 0px;
    padding: 16px;
    line-height: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    border-radius: 16px 16px 0px 16px;
    border-style: none;
    width: stretch;
}

ul {
    height: 80%;
}

li {
    margin: 16px;
    padding: 16px;
    line-height: normal;
    border-radius: 16px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
}

.para-fazer-bg,
input#para-fazer-input,
ul#lista-para-fazer li {
    background-color: rgb(238, 164, 80);
}

.fazendo-bg,
input#fazendo-input,
ul#lista-fazendo li {
    background-color: rgb(156, 67, 240);
}

.feito-bg,
input#feito-input,
ul#lista-feito li {
    background-color: rgb(67, 240, 104);
}

.botao-adicionar {
    display: contents;
    cursor: pointer;
}

.botao-adicionar img{
    height: 30px;
    width: 30px;
}

li img {
    height: 20px;
    width: 18px;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

li:hover img{
    opacity: 1;
    cursor: pointer;
}

.esconder {
    display: none;
}
